/*-------------------------------------------------------------------
    FULL CTA
-------------------------------------------------------------------*/

.gallery {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	height: 60vh;
	margin: 50px auto 0;
	max-width: 1200px;
	position: relative;
	@media (--smallphone) {
		height: 60vh;
	}
	& .slick-list,
	& .slick-track {
		height: 100%;
	}
	&>.block {
		height: 500px;
		& .slick-list,
		& .slick-track {
			height: 500px;
		}
		& .image-slide {
			outline: none;
			height: 500px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	& nav {
		height: 20%;
		& .nav-slide {
			outline: none;
			height: 100%;
			position: relative;
			overflow: hidden;
			& .image {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				transition: all .5s ease-in-out 0s;
				&:hover {
					transform: scale(1.1);
				}
			}
		}
		& button.slick-arrow {
			outline: none;
			-webkit-appearance: none;
			cursor: pointer;
			background: transparent;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			border: none;
			position: absolute;
			opacity: 1;
			top: -30vh;
			width: 40px;
			height: 40px;
			z-index: 2;
			transition: all .25s linear 0s;
			@media (--smallphone) {
				top: -24vh;
			}
			&:hover,
			&:focus {
				transform: scale(1.05);
				opacity: .75;
			}
			&.slick-prev {
				background-image: url('../images/slider-arrow-left.svg');
				left: 75px;
				@media (--laptop) {
					left: 10px;
				}
			}
			&.slick-next {
				background-image: url('../images/slider-arrow-right.svg');
				right: 75px;
				@media (--laptop) {
					right: 10px;
				}
			}
		}
	}
}