.leadership-quotes {
	padding: 0;
	margin: 0 auto 50px auto;
	position: relative;
	overflow: hidden;
	& .slick-track {
	  & .slick-slide{
      align-items: center; 
      justify-content: center;
			display: flex;
			height: 275px;
			@media (--phone) {
				height: auto;
			}
	  }
	}
	& button.slick-arrow {
		outline: none;
		-webkit-appearance: none;
		cursor: pointer;
		background: transparent;
		background-size: 80%;
		background-repeat: no-repeat;
		background-position: center;
		border: none;
		position: absolute;
		overflow: hidden;
		top: 50%;
		margin-top: -20px;
		width: 40px;
		height: 40px;
		z-index: 2;
		transition: all .25s linear 0s;
		@media (--smallphone) {
			bottom: 0px !important;
		}
		&:hover, &:focus {
			transform:scale(1.05);
		}
		&.slick-prev {
			background-image: url('../images/slider-arrow-left-gradient.svg');
			left: 0;
			@media (--tablet) {
				margin-left: -50px;
				top: auto;
				left: 50%;
				bottom: 10px;
			}
		}
		&.slick-next {
			background-image: url('../images/slider-arrow-right-gradient.svg');
			right: 0;
			@media (--tablet) {
				margin-right: -50px;
				top: auto;
				right: 50%;
				bottom: 10px;
			}
		}
	}
	& .leadership-quote {
		opacity: .5;
		outline: 0;
		transition: all 1s ease-in-out 0s;
		@media (--smallphone) {
			padding: 0 20px;
		}
		&.slick-center {
			opacity: 1;
			transition: all 1.35s ease-in-out 0s;
		}
		& blockquote {
			width: 100%;
			max-width: 600px;
		}
	}
}