.media-container {
	margin: 100px 0;

	& h2 {
		text-align: center;
		text-shadow: none;
		margin-bottom: 30px;
	}

	&>.block {
		margin: 0 auto;
		max-width: 1024px;
		width: 100%;

		& .slick-list {
			max-height: 85px;
		}

		& .slick-track {
			margin: 0 auto;
			max-height: 85px;
		}

		& .media-slide {
			padding: 20px;
			outline: none;
			display: flex;
			justify-content: center;
			align-items: center;
			max-width: 171px;
			height: 85px;

			& a {
				width: 100%;
				display: block;

				& img {
					max-height: 45px;
					width: 100%;
				}
			}
		}
	}
}