.partners-container {
	max-width: 1024px;
	margin: 50px auto 100px auto;
	position: relative;
	@media (--desktop) {
		padding: 0 20px;
	}
	&>h2 {
		margin: 0;
		text-shadow: none;
	}
	&>a {
		right: 0;
		top: 14px;
		position: absolute;
		font-family: var(--HeadCopy);
		font-size: 17px;
		font-weight: 700;
		transition: all .5s ease-in-out 0s;
		color: var(--Blue);
		&:hover,
		&:focus {
			transform: scale(1.15);
			text-decoration: none;
		}
		@media (--desktop) {
			right: 20px;
		}
		@media (--smallphone) {
			position: initial;
		}
		& svg {
			fill: var(--Blue);
			vertical-align: middle;
			margin-left: .5em;
		}
	}
	&>hr {
		margin: 25px 0 10px 0;
		height: 4px;
		background-color: var(--Yellow);
	}
	&>.block {
		width: 100%;
		margin-top: 25px;
		@media (--desktop) {
			padding: 0 50px;
		}
		& .slick-slide>div {
			display: flex;
			align-items: center;
		}
		& .single-slide {
			outline: none;
			& .partner-slide {
				padding: 25px 10px;
				& img {
					max-width: 75%;
					max-height: 50px;
					margin: 0 auto;
					transition: all .25s ease-in-out;
					@media (--smallphone) {
						max-width: 250px;
						margin: 0 auto;
					}
					&.greyscale {
						filter: grayscale(100%);
					}
					&:hover {
						filter: none;
					}
				}
			}
		}
		& button.slick-arrow {
			outline: none;
			-webkit-appearance: none;
			cursor: pointer;
			background: transparent;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			border: none;
			position: absolute;
			opacity: 1;
			top: 50%;
			margin-top: -20px;
			width: 40px;
			height: 40px;
			z-index: 2;
			transition: all .25s linear 0s;
			&:hover,
			&:focus {
				transform: scale(1.05);
				opacity: 1;
			}
			&.slick-prev {
				background-image: url('../images/slider-arrow-left-gradient.svg');
				left: -50px;
				@media (--desktop) {
					left: 0;
				}
			}
			&.slick-next {
				background-image: url('../images/slider-arrow-right-gradient.svg');
				right: -50px;
				@media (--desktop) {
					right: 0;
				}
			}
		}
	}
}