.testimonies-container {
	padding: 50px 0;
	position: relative;
	overflow: hidden;
	&::after {
		content: '';
		position: absolute;
		background: var(--Blue);
		top: 0;
		bottom: 0;
		left: -25%;
		width: 150%;
		z-index: -1;
		animation: button_hover 12s linear 0s infinite;
	}
	& .slick-track {
		& .slick-slide {
			align-items: center;
			justify-content: center;
			display: flex;
			height: 275px;
			@media (--phone) {
				height: auto;
			}
		}
	}
	& h2 {
		color: var(--WhiteCopy);
		text-align: center;
		margin-bottom: 0;
		margin-top: 0;
		font-size: 2.5rem;
		& span {
			font-size: 1rem;
			vertical-align: top;
		}
	}
	&>.block {
		margin: 0 auto;
		width: 100%;
		& .testimony-slide {
			opacity: .5;
			outline: 0;
			transition: all 1s ease-in-out 0s;
			@media (--smallphone) {
				padding: 0 20px;
			}
			&.slick-center {
				opacity: 1;
				transition: all 1.35s ease-in-out 0s;
				& blockquote {
					box-shadow: 0 3px 16px 2px rgba(188, 242, 215, 0.5), 0 9px 12px 1px rgba(188, 242, 215, 0.5);
				}
			}
			& blockquote {
				width: 100%;
				max-width: 600px;
				box-shadow: none;
			}
		}
		& button.slick-arrow {
			outline: none;
			-webkit-appearance: none;
			cursor: pointer;
			background: transparent;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			border: none;
			position: absolute;
			opacity: 1;
			top: 50%;
			margin-top: -20px;
			width: 40px;
			height: 40px;
			z-index: 2;
			transition: all .25s linear 0s;
			@media (--smallphone) {
				top: -24vh;
			}
			&:hover,
			&:focus {
				transform: scale(1.05);
				opacity: .75;
			}
			&.slick-prev {
				background-image: url('../images/slider-arrow-left.svg');
				left: 50%;
				margin-left: -375px;
				@media (--tablet) {
					margin-left: -50px;
					top: auto;
					bottom: 10px;
				}
			}
			&.slick-next {
				background-image: url('../images/slider-arrow-right.svg');
				right: 50%;
				margin-right: -375px;
				@media (--tablet) {
					margin-right: -50px;
					top: auto;
					bottom: 10px;
				}
			}
		}
	}
}