/*-------------------------------------------------------------------
    BREADCRUMB NAVIGATION
-------------------------------------------------------------------*/
.breadcrumbs {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--Black);
	opacity: 0.55;
	z-index: 2;
	& nav {
		max-width: 1024px;
		margin: 0 auto;
		padding: 16px 0;
		color: var(--WhiteCopy);
		font-family: var(--BodyCopy);
		@media (--desktop) {
			padding: 16px 10px;
		}
		& > span {
			margin-left: -.5rem;
		}
		& a {
			color: var(--WhiteCopy);
			margin: 0 .5rem;
			text-decoration: underline;
		}
		& .breadcrumb_last {
			margin: 0 0 0 .5rem;
		}
	}
}

.breadcrumbs span.breadcrumb_last {
	@media (--tablet) {
    display: inline-block;
    padding: 0;
    margin-top: -3px;
    vertical-align: middle;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	}
}