/*-------------------------------------------------------------------
		FULL CTA
-------------------------------------------------------------------*/

.full-cta {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;	
	overflow: hidden;
	min-height: 400px;
	padding: 40px 10px;
	margin: 50px 0;
	position: relative;
	justify-content: flex-start;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	&>.title-overlay {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-color: rgba(188, 242, 215, .9);
	}
	&>.block {
		width: 1024px;
		max-width: 100%;
		margin: 0 auto;
		position: relative;
		z-index: 2;
	}
	& h2 {
		text-align: center;
		margin: 0 auto 14px auto;
	}
	& p {
		text-align: center;
		max-width: 800px;
		margin: 0 auto;
	}
	&>.block>.block {
		text-align: center;
		& a.btn {
			margin: 34px 1rem 0 0;
		}
	}
}