/*-------------------------------------------------------------------
    FULL CTA
-------------------------------------------------------------------*/

.image-breaker {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	min-height: 450px;
	margin: 50px 0;
	position: relative;
	@media (--tablet) {
		min-height: 250px;
	}
	&::before {
		content: '';
		background-image: linear-gradient(0deg, #5c22ae 0%, #FFD200 100%);
		background-color: #70d3fb;
		transform: skew(40deg);
		width: 200px;
		position: absolute;
		top: 0;
		left: -120px;
		height: 100%;
		z-index: 2;
		@media (--tablet) {
			width: 100px;
			left: -120px;
		}
	}
	&::after {
		content: '';
		background-image: linear-gradient(180deg, #70d3fb 0%, #35a7ff 100%);
		background-color: #5c22ae;
		transform: skew(-40deg);
		width: 130px;
		position: absolute;
		bottom: 0;
		left: 94%;
		height: 100%;
		z-index: 1;
		@media (--tablet) {
			width: 75px;
			left: 110%;
		}
	}
}