/*-------------------------------------------------------------------
		PAGE TITLES
-------------------------------------------------------------------*/

.title-page {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	overflow: hidden;
	display: flex;
	& .title-overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0%;
		width: 100%;
		background: var(--GradientBackwards);
		opacity: .8;
	}
	&>.block {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 2;
		width: 1024px;
		max-width: 100%;
		margin: 0 auto;
		min-height: 400px;
		@media (--desktop) {
			padding: 0 20px;
		}
	}
	& h1 {
		margin: 0;
		padding: 0;
		color: var(--WhiteCopy);
	}
}

/*-------------------------------------------------------------------
		VIDEO LIGHTBOX
-------------------------------------------------------------------*/

.title-video {
	right: 0;
	cursor: pointer;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	border: 3px solid var(--White);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	@media (--desktop) {
		right: 20px;
	}
	@media (--tablet) {
		top: 20px
	}
	&:hover {
		border-color: var(--Yellow);
		& svg path {
			&#b {
				stroke: var(--Yellow);
				fill: var(--Yellow);
			}
		}
	}
	& svg {
		width: 50px;
		& path {
			transition: all .25s ease-in-out 0s;
			&#a {
				fill: var(--White);
			}
			&#b {
				stroke: var(--White);
				stroke-miterlimit: 50;
				stroke-width: 3;
				fill: transparent;
			}
		}
	}
}

.lightbox,
.title-lightbox {
	position: fixed;
	z-index: 10000;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.65);
	overflow: hidden;
	opacity: 0;
	transform: scale(0.01);
	transition: all .35s ease-in-out 0s;
	& .contents {
		width: 80vh;
		height: 80vh;
		max-width: 900px;
		max-height: 475px;
		position: relative;
		&>svg {
			position: absolute;
			width: 40px;
			height: 40px;
			z-index: 2;
			right: -20px;
			top: -10px;
			&:hover,
			&:focus {
				cursor: pointer;
			}
		}
		& iframe,
		& p {
			width: 100% !important;
			height: 100% !important;
			transform: scale(0.01);
			transition: all .35s ease-in-out .2s;
		}
	}
	&.active {
		opacity: 1;
		transform: scale(1);
		& .contents p,
		& .contents iframe {
			transform: scale(1);
		}
	}
}