/*-------------------------------------------------------------------
    HEAD
-------------------------------------------------------------------*/

.admin-bar header.primary-nav-container {
	top: 32px;

	@media (--tablet) {
		top: 46px;
	}
}

header.primary-nav-container {
	background: var(--White);
	position: fixed;
	z-index: 10000;
	top: 0;
	right: 0;
	left: 0;
	border-bottom: 4px solid var(--Grey);

	& .top-banner {
		text-align: center;
		background-color: var(--Black);
		color: var(--White);

		& p {
			margin: 0;
			font-size: 16px;
			padding: 2px 0;

			@media (--phone) {
				font-size: 14px;
			}

			& a {
				color: var(--Yellow);
				font-weight: 600;
				display: inline-block;
			}
		}
	}

	&>.block {
		max-width: 1024px;
		margin: 0 auto;
		justify-content: flex-start;
		align-items: center;
		display: flex;
		flex-wrap: wrap;

		@media (--desktop) {
			padding: 0 10px;
		}

		@media (--tablet) {
			justify-content: space-between;
			padding: .25rem .5rem;
		}
	}

	& nav {
		@media (--tablet) {
			position: fixed;
			top: 70px;
			left: 0;
			background: white;
			height: 0;
			width: 100vw;
			overflow: hidden;
			min-width: 300px;
			transition: all .5s ease-in-out 0s;
		}

		&.show {
			height: 100vh;
		}

		& ul {
			padding: 0;

			@media (--tablet) {
				margin: 0 auto;
				max-width: 250px;
			}
		}

		& li {
			display: inline-block;
			list-style: none;
			margin: 0;
			padding: 0;

			@media (--tablet) {
				display: block;
				text-align: center;
				border-bottom: 1px solid var(--Grey);
			}

			&.btn {
				min-width: auto;
				padding: 1em;

				& a {
					font-weight: 700;
					font-family: var(--BodyCopy-bold);

					&:hover {
						color: var(--Black);
					}
				}
			}
		}

		& a {
			padding: .25rem 1rem;
			text-decoration: none;
			font-family: var(--BodyCopy);
			font-size: 1rem;
			color: var(--Black);
			transition: all .5s ease-in-out 0s;

			&:hover,
			&:focus {
				color: var(--Blue);
			}

			@media (--laptop) {
				font-size: 1rem;
			}

			@media (--tablet) {
				display: block;
				padding: 1.5rem 2rem;
				font-size: 1.25rem;
			}
		}

		& li.current-menu-item a {
			font-weight: 700;
			font-family: var(--BodyCopy-bold);
		}
	}

	& a.brand {
		margin-right: auto;

		& img {
			height: 70px;

			@media (--laptop) {
				height: 55px;
			}
		}

		@media (--tablet) {
			margin-right: 0;
			order: 1;
		}
	}

	& a.search {
		cursor: pointer;

		& svg {
			height: 1.25em;
			width: 2.25em;
			fill: var(--Black);
			transition: all .5s ease-in-out 0s;

			&:hover,
			&:focus {
				fill: var(--Yellow);
			}
		}
	}

	& a.hamburger {
		display: none;

		@media (--tablet) {
			display: block;
			order: 2
		}

		& svg {
			height: 1.25em;
			width: 2.25em;
			fill: var(--Black);
			transition: all .5s ease-in-out 0s;

			&:hover,
			&:focus {
				fill: var(--Yellow);
				cursor: pointer;
			}
		}
	}
}