/*-------------------------------------------------------------------
    SEARCH OVERLAY
-------------------------------------------------------------------*/

.search-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	z-index: 11000;
	background-color: color( var(--White) alpha(95%));
	&>.block {
		width: 1024px !important;
		max-width: 100% !important;
		margin: 0 auto !important;
		justify-content: center;
		position: relative;
		padding: 7vh 1rem;
		transform: translateY(-100%);
		transition: all .5s ease-in-out .25s;
		display: flex;
		flex-wrap: wrap;
		&.enter-screen {
			transform: translateY(0);
		}
	}
	& a.close-search {
		position: absolute;
		top: 7vh;
		right: 0;
		cursor: pointer;
		& svg {
			height: 1.25em;
			width: 2.25em;
			fill: var(--Black);
			transition: all .5s ease-in-out 0s;
			&:hover,
			&:focus {
				fill: var(--Yellow);
			}
		}
	}
	& form {
		margin: 0 !important;
		padding: 0;
		box-shadow: none;
		max-width: 1024px !important;
		width: 100%;
		background: transparent;
		& label {
			font-size: 30px;
		}
		& input {
			width: 100%;
			font-size: 30px;
		}
	}
}