/****************************************************************************
*****************************************************************************


  GREAT ANIMATION RESOURCES
  https://daneden.github.io/animate.css/
	http://ianlunn.github.io/Hover/


*****************************************************************************
****************************************************************************/


/*-------------------------------------------------------------------
    ENTRANCE/EXIT ANIMATION CLASSES
-------------------------------------------------------------------*/
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}

/*-------------------------------------------------------------------
    BUTTON GRADIENT TRANSITION
-------------------------------------------------------------------*/
@keyframes button_hover {
	0%	{ left: -25%; }
	25%	{ left: -50%; }
	75% { left: 0%; }
	100% { left: -25%; }
}

/*-------------------------------------------------------------------
    TITLE RIBBONS
-------------------------------------------------------------------*/
@keyframes title_ribbon_one {
  0%  { 
    opacity: 0;
    height: 0; 
    left: -65px;
  }
  75%  { 
    opacity: 1;
    height: 0; 
    left: -65px;
  }
  100% { 
    height: 100%; 
    left: -20px;
  }
}
@keyframes title_ribbon_two {
  0%  { 
    /*opacity: 0;*/
    height: 0; 
    left: calc(85% - 120px);
  }
  75%  { 
    /*opacity: 1;*/
    height: 0; 
    left: calc(85% - 120px);
  }
  100% { 
    height: 100%; 
    left: 85%;
  }
}