/*-------------------------------------------------------------------
    BUTTONS
-------------------------------------------------------------------*/

.btn {
	display: inline-block;
	padding: 1.15em 1em;
	margin: 0 8px 16px 0;
	min-width: 200px;
	position: relative;
	overflow: hidden;
	border-radius: 6px;
	background: transparent;
	border: 3px solid transparent;
	vertical-align: middle;
	color: var(--BlackCopy);
	font-family: var(--HeadCopy);
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	transition: all .5s ease-in-out 0s;
	z-index: 2;
	&::after {
		content: '';
		position: absolute;
		background: var(--Yellow);
		top: 0;
		bottom: 0;
		left: -25%;
		width: 150%;
		z-index: -1;
	}
	&:hover,
	&:focus {
		transform: scale(1.05);
		text-decoration: none;
		&::after {
			animation: button_hover 4s linear 0s infinite;
		}
	}
	&.btn--black {
		background-color: var(--Black);
		color: var(--WhiteCopy);
		border: 0;
		&::after {
			display: none;
		}
	}
	&.btn--ghost {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 0;
		border-left: 3px solid var(--Orange);
		border-right: 3px solid var(--Yellow);
		box-sizing: border-box;
		background-position: 0 0, 0 100%;
		background-repeat: no-repeat;
		background-size: 100% 3px;
		background-image: linear-gradient(to right, var(--Orange) 0%, var(--Yellow) 100%), linear-gradient(to right, var(--Orange) 0%, var(--Yellow) 100%);
		&::after {
			opacity: 0;
			left: -3px;
			right: -3px;
			width: calc(100% + 6px);
			background: var(--Yellow);
			transition: all .5s ease-in-out 0s;
		}
		&>span {
			background: var(--Orange);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			color: var(--Orange);
		}
		@nest &:hover,
		&:focus {
			text-decoration: none;
			color: var(--Dblue);
			border-left: 3px solid var(--Yellow);
			border-right: 3px solid var(--Yellow);
			&::after {
				opacity: 1;
				animation: none;
			}
			&>span {
				background: none !important;
				-webkit-background-clip: text;
				-webkit-text-fill-color: var(--Dblue);
				color: var(--Dblue);
			}
		}
	}
}

/*-----------------------------------------
    SOCIAL BUTTONS
-----------------------------------------*/

.social-link {
	display: inline-block;
	height: 50px;
	width: 50px;
	margin: 0 .25em;
	text-align: center;
	padding: 12px;
	&:hover svg,
	&:focus svg {
		transform: scale(1.08);
	}
	&>svg {
		max-width: 100%;
		max-height: 100%;
		transition: all .5s ease-in-out 0s;
	}
}