/*----------------------------------------------------------------*\
	FORMS
\*----------------------------------------------------------------*/


/*---------------------------------------*\
  FORM STRUCTURE
\*---------------------------------------*/
.gform_wrapper {
	margin: 64px auto;

	&:first-child {
		margin: 0;
	}
}

form {
	max-width: 600px;
	margin: 0 auto;

	& ul.gform_fields {
		position: relative;
		padding: 0;
		margin: 0;
		list-style: none;

		&>li {
			position: relative;
			padding: 0;
			margin: 0 0 32px 0;
			line-height: 1.5;
			background-image: none;
		}
	}
}

.gform_footer button {
	margin: 24px 0 0 0;
}

/*---------------------------------------*\ 
	HIDDEN FIELDS
\*---------------------------------------*/
.gform_validation_container,
.gfield_visibility_hidden {
	display: none;
}

/*---------------------------------------*\ 
	FORM PAGINATION
\*---------------------------------------*/
.gf_page_steps {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 0 16px 0;
	margin: 0 0 32px 0;
	border-bottom: 2px solid var(--Black);

	& .gf_step {
		padding: 0 8px;
	}

	& .gf_step_number {
		font-size: 16px;
		color: var(--GreyCopy);
	}

	& .gf_step_label {
		font-size: 16px;
		color: var(--GreyCopy);
	}

	& .gf_step_active .gf_step_number,
	& .gf_step_active .gf_step_label {
		color: var(--Black);
	}

	& .gf_step_clear {
		display: none;
	}
}

h3.gf_progressbar_title {
	margin: 0;
}

.gf_progressbar {
	margin: 12px 0 24px 0;
	background-color: var(--BlueLight);
	border-radius: 50px;

	& .gf_progressbar_percentage {
		background-color: Var(--Blue);
		border-radius: 50px;

		& span {
			color: var(--White);
			font-family: var(--BodyCopy-bold);
			padding: 0 14px 1px 0;
			width: 100%;
			display: block;
			text-align: right;
		}
	}
}

.gform_page_footer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 48px auto 0 auto;

	& input {
		width: auto;
		padding: 1.15em 1em;
		margin: 0 24px 0 0;
		font-size: 16px;
		font-family: var(--HeadCopy);
		color: var(--BlackCopy);
		background-color: var(--Grey);
		border-radius: 6px;
		border: 0;
		cursor: pointer;
		transition: all .5s ease-in-out 0s;

		&:hover,
		&:focus {
			transform: scale(1.05);
		}

		&.gform_next_button {
			background-color: var(--Blue);
			color: var(--White);
			min-width: 200px;
		}
	}

	& .btn {
		margin: 0;
	}
}

/*---------------------------------------*\
    SECTION TITLES
\*---------------------------------------*/
.gsection_title {
	padding: 4px 64px 4px 8px;
	margin: 64px 0 0 0;
	font-size: 24px;
	background-color: var(--Grey);

	&+.gsection_description {
		padding: 8px 64px 0 0;
		font-size: 13px;
		line-height: 1.3;
	}
}

form ul>li:first-child .gsection_title {
	margin-top: 0;
}

/*---------------------------------------*\
  LABELS & Descriptions
\*---------------------------------------*/
form label {
	display: inline-block;
	margin-bottom: 4px;
	font-size: 13px;
	color: var(--Dblue);
	font-family: 'Lato-Bold';
	letter-spacing: 0.25px;

	& span.gfield_required {
		display: none;
	}
}

.hidden_label>label {
	display: none;
}

ul.gform_fields>li:not(.gfield_contains_required):not(.gfield_price)>label:not(.file-upload-label) {
	&::after {
		display: inline-block;
		margin-left: 0.35em;
		font-size: 0.875em;
		color: var(--GreyCopy);
		content: '(optional)';
	}
}

::placeholder {
	color: var(--GreyCopy);
	opacity: .75;
	font-family: var(--BodyCopy);
	font-weight: 400;
}

.gfield_description,
.ginput_counter,
.screen-reader-text,
.ginput_container .instruction {
	padding: 0 0 0 8px;
	font-size: 13px;
	font-family: var(--BodyCopy-bold);
	line-height: 1;
	color: var(--GreyCopy);
	letter-spacing: 0.25px;
}

label+.gfield_description {
	padding: 0;
	margin: 0 0 8px 0;
	font-size: 13px;
	line-height: 1.3;
}

/*---------------------------------------*\
  VALIDATION MESSAGES
\*---------------------------------------*/
li.gfield_error {
	& label {
		color: #F47484;
	}

	& input,
	& textarea,
	& select {
		border-color: #F47484;
	}

	& .validation_message {
		color: #F47484;
	}

	& .ginput_container {
		position: relative;

		&::after {
			position: absolute;
			top: 10px;
			right: 10px;
			z-index: 4;
			display: block;
			width: 24px;
			height: 24px;
			content: '';
			background-image: url(../images/input_error.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}
}

.validation_message {
	padding: 8px 0 0 8px;
	font-size: 12px;
	line-height: 1;
	color: #F47484;
	letter-spacing: 0.5px;

	& ul {
		margin: 0 !important;

		& li {
			padding: 0;
			line-height: 1;
			color: #F47484;
			background-image: none;
		}
	}
}

/*---------------------------------------*\
  INPUT
\*---------------------------------------*/
input {
	width: 100%;
	padding: 14px;
	border: 0 solid transparent;
	border-bottom: 3px solid var(--GreyCopy);
	font-family: var(--BodyCopy);
	font-size: 24px;
	font-weight: 600;

	&:focus {
		border-color: var(--BlueLight);
		outline: 0;
	}
}

/*---------------------------------------*\
  TEXTAREA
\*---------------------------------------*/
textarea {
	width: 100%;
	padding: 14px;
	border: 0 solid transparent;
	border-bottom: 3px solid var(--GreyCopy);
	font-family: var(--BodyCopy);
	font-size: 24px;
	font-weight: 600;

	&:focus {
		border-color: var(--BlueLight);
		outline: 0;
	}

	&.small {
		max-height: 100px;
	}

	&.medium {
		max-height: 150px;
	}

	&.large {
		max-height: 200px;
	}
}

/*---------------------------------------*\
  SELECT
\*---------------------------------------*/
select {
	width: 100%;
	padding: 14px;
	border: 0 solid transparent;
	border-bottom: 3px solid var(--GreyCopy);
	font-family: var(--BodyCopy);
	font-size: 24px;
	font-weight: 600;
	background-image: url('../images/select_arrow.svg');
	background-repeat: no-repeat;
	background-position: top 11px right 8px;
	background-size: 24px;

	-webkit-appearance: none;
	-moz-appearance: none;

	&:focus {
		border-color: var(--BlueLight);
		outline: 0;
	}

	&.has-placeholder {
		color: var(--GreyCopy);
		opacity: .75;
		font-family: var(--BodyCopy);
		font-weight: 400;
	}
}

li.gfield_error .ginput_container_select::after {
	right: 40px;
}

/*---------------------------------------*\
  RADIO
\*---------------------------------------*/
ul.gfield_radio {
	padding: 0 0 0 8px;
	margin: 18px 0 0 0 !important;

	& li {
		display: inline-flex;
		align-items: center;
		width: auto;
		padding: 0;
		margin: 0 1em 0.5em 0;
		line-height: 1;
		background-image: none;

		@media(--phone) {
			width: 100%;
		}

		& label {
			padding: 0;
			margin: 0;
			font-family: var(--BodyCopy);
			font-size: 24px;
			line-height: 1;
			color: var(--GreyCopy);
			letter-spacing: 0.5px;
			vertical-align: middle;
			cursor: pointer;
		}

		& input[type="radio"] {
			flex-shrink: 0;
			width: 16px;
			height: 16px;
			margin: 2px 6px 0 0;
			vertical-align: middle;
			cursor: pointer;
			border: 2px solid var(--GreyCopy);
			border-radius: 50%;

			-webkit-appearance: none;
			-moz-appearance: none;

			&:checked {
				background-color: var(--Black);
				border-color: var(--Black);

				&+label {
					color: var(--Black);
					font-weight: 600;
				}
			}
		}

		& input[type="text"] {
			padding: 4px;
			font-size: 13px;
			line-height: 1;
			color: var(--Black);
			background: transparent;
			border: 1.5px solid var(--Black);
			border-radius: 4px;
			box-shadow: none;
		}
	}
}

.two-column ul.gfield_radio {
	column-count: 2;

	@media(--phone) {
		column-count: 1;
	}

	& li {
		width: 100%;
	}
}

.three-column ul.gfield_radio {
	column-count: 3;

	@media(--phone) {
		column-count: 1;
	}

	& li {
		width: 100%;
	}
}

/*---------------------------------------*\
  CHECKBOXES
\*---------------------------------------*/
ul.gfield_checkbox {
	padding: 0 0 0 8px;
	margin: 18px 0 0 0 !important;

	& li {
		display: inline-flex;
		align-items: center;
		width: auto;
		padding: 0;
		margin: 0 1em 0.5em 0;
		line-height: 1;
		background-image: none;

		@media(--phone) {
			width: 100%;
		}

		& label {
			position: relative;
			padding: 0;
			margin: 0;
			font-family: var(--BodyCopy);
			font-size: 24px;
			line-height: 1;
			color: var(--GreyCopy);
			letter-spacing: 0.5px;
			vertical-align: middle;
			cursor: pointer;

			&::before {
				position: absolute;
				top: 4px;
				left: -22px;
				display: block;
				width: 16px;
				height: 16px;
				content: '';
				background-image: url('../images/checkmark-white.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				opacity: 0;
				transition: all 0.15s linear;
			}
		}

		& input[type="checkbox"] {
			flex-shrink: 0;
			width: 20px;
			height: 20px;
			margin: 2px 6px 0 0;
			vertical-align: middle;
			cursor: pointer;
			border: 2px solid var(--GreyCopy);
			border-radius: 5px;

			-webkit-appearance: none;
			-moz-appearance: none;

			&:checked {
				background-color: var(--Black);
				border-color: var(--Black);

				&+label {
					color: var(--Black);
					font-weight: 600;

					&::before {
						opacity: 1;
					}
				}
			}
		}

		& input[type="text"] {
			padding: 4px;
			font-size: 13px;
			line-height: 1;
			color: var(--Black);
			background: transparent;
			border: 1.5px solid var(--Black);
			border-radius: 4px;
			box-shadow: none;
		}
	}
}

.two-column ul.gfield_checkbox {
	column-count: 2;

	@media(--phone) {
		column-count: 1;
	}

	& li {
		width: 100%;
	}
}

.three-column ul.gfield_checkbox {
	column-count: 3;

	@media(--phone) {
		column-count: 1;
	}

	& li {
		width: 100%;
	}
}

/*---------------------------------------*\ 
	SMART FIELDS
\*---------------------------------------*/
.ginput_complex,
.clear-multi {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;

	& .name_first,
	& .name_middle,
	& .name_last {
		width: 31%;
	}

	&.no_middle_name .name_first,
	&.no_middle_name .name_last {
		width: 48%;
	}

	& .address_line_1,
	& .address_line_2 {
		width: 100%;
	}

	& .address_city,
	& .address_state,
	& .address_zip {
		width: 31%;
	}

	& .gfield_time_hour,
	& .gfield_time_minute,
	& .gfield_time_ampm {
		width: 31%;
	}

	& span label:last-child,
	& label {
		display: block;
		padding: 0 0 0 8px;
		margin: 6px 0 12px 0;
		font-size: 13px;
		line-height: 1;
		letter-spacing: 0.5px;
	}

	& i {
		display: none;
	}
}

/*---------------------------------------*\ 
	FILE UPLOAD 
\*---------------------------------------*/

.gform_drop_area {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100px;
	margin: 0 8px;
	border: 2px dashed var(--GreyCopy);
	border-radius: 4px;

	& input {
		display: inline-block;
		width: auto;
		padding: 8px 12px 9px 12px;
		margin: 0 0 0 16px;
		font-size: 13px;
		color: var(--Black);
		text-transform: none;
		background-color: var(--Grey);
		box-shadow: none;
		border: 0;
		font-family: var(--HeadCopy);

		&:hover,
		&:focus {
			color: var(--White);
			background-color: var(--Black);
		}
	}
}

.ginput_preview {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0 0 0 8px;
	font-size: 13px;
	line-height: 1;
	letter-spacing: 0.5px;

	& img {
		margin-right: 6px;
		vertical-align: middle;
		cursor: pointer;
	}
}

.gform_fileupload_multifile+span.screen-reader-text {
	position: relative !important;
	overflow: visible;
	clip: auto;
}

/*---------------------------------------*\
  DATE
\*---------------------------------------*/
.ui-datepicker {
	padding: 8px;
	background-color: var(--White);
	border: 2px solid var(--GreyCopy);
	font-family: 'Montserrat-Light';

	& .ui-datepicker-header {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;

		&>a {
			margin: 0 0 8px 0;
			font-size: 13px;
			color: var(--Black);
		}

		& .ui-datepicker-title {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			margin-bottom: 8px;

			& select {
				width: 48%;
				padding: 8px 4px;
				font-size: 13px;
				background-position: center right 4px;
				background-position: center right;
				border: 1px solid var(--Black);
			}
		}
	}

	& .ui-datepicker-calendar {
		width: 100%;
		border-collapse: collapse;
		background: white;
		border: 1px solid var(--Black);

		& th,
		& td {
			border: 1px solid var(--Black);
		}

		& td {
			text-align: center;

			& a {
				display: block;
				padding: 6px 4px;
				margin: 0;
				line-height: 1;
				color: var(--Black);
				text-decoration: none;

				&:hover,
				&:focus {
					background: var(--Blue);
					color: var(--White);
				}
			}
		}
	}
}

.ginput_container_date img.ui-datepicker-trigger {
	position: absolute;
	top: 8px;
	right: 8px;
}

/*---------------------------------------*\
  CONSENT
\*---------------------------------------*/
.gfield_consent_description,
label+.gfield_consent_description {
	color: var(--Black);
	font-size: 16px;
	font-family: 'Lato-Light';
	font-weight: 600;
	line-height: 1.3;
}

.ginput_container_consent {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 16px;

	& input {
		flex-shrink: 0;
		width: 20px;
		height: 20px;
		margin-top: 2px;
		vertical-align: middle;
		cursor: pointer;
		border: 2px solid var(--Black);
		border-radius: 5px;

		-webkit-appearance: none;
		-moz-appearance: none;

		&:checked {
			background-color: var(--Black);
			border-color: var(--Black);

			&+label {
				color: var(--Black);

				&::before {
					opacity: 1;
				}
			}
		}
	}

	& label {
		position: relative;
		display: inline-block;
		width: 100%;
		padding: 0 0 0 8px;
		line-height: 1;
		text-transform: none;
		font-size: 20px;

		&::before {
			position: absolute;
			top: 4px;
			left: -16px;
			display: block;
			width: 16px;
			height: 16px;
			content: '';
			background-image: url(../images/checkmark-white.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			opacity: 0;
			transition: all 0.15s linear;
		}

		&+.gfield_required {
			display: none;
		}
	}
}

/*---------------------------------------*\
  reCaptcha
\*---------------------------------------*/
.grecaptcha-badge {
	z-index: 1000;
}