/*-------------------------------------------------------------------
    FONT
-------------------------------------------------------------------*/

@font-face {
	font-family: 'Montserrat-Light';
	src: url('../fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat-Bold';
	src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato-Bold';
	src: url('../fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato-Light';
	src: url('../fonts/Lato-Light.ttf') format('truetype');
}

/*-------------------------------------------------------------------
    TYPOGRAPHY
-------------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
.widget h1,
.widget h2,
.widget h3,
.widget h4,
.widget h5,
.widget h6 {
	margin: 1em 0;
	line-height: 1.07;
	font-family: var(--HeadCopy);
}

h1,
.widget h1 {
	font-size: 60px;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

	@media (--smallphone) {
		font-size: 45px;
	}
}

h2,
.widget h2 {
	font-size: 38px;

	@media (--smallphone) {
		font-size: 30px;
	}
}

h3,
.widget h3 {
	font-size: 24px;

	@media (--smallphone) {
		font-size: 21px;
	}
}

h4,
.widget h4 {
	font-size: 20px;

	@media (--smallphone) {
		font-size: 18px;
	}
}

h5,
.widget h5 {
	font-size: 18px;

	@media (--smallphone) {
		font-size: 16px;
	}
}

h6,
.widget h6 {
	font-size: 16px;
}

h1+h2 {
	margin-top: -2em;
	font-size: 20px;
}

h2+h3 {
	margin-top: -1.75em;
	font-size: 16px;
}

h3+h4 {
	margin-top: -1.5em;
	font-size: 16px;
}

p,
ol,
ul {
	font-size: 1.1em;
	line-height: 1.38;
	margin: .5em 0;
	font-family: var(--BodyCopy);

	& b,
	& strong {
		font-family: var(--BodyCopy-bold);
	}
}

ul li,
ol li {
	margin-bottom: 4px);
}

ul,
ol {
	padding-left: 1.25rem;
}

a {
	color: var(--Blue);
	text-decoration: none;
	font-family: var(--BodyCopy);

	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
	}
}

hr {
	background-color: var(--Grey);
	border: none;
	height: 2px;
	margin: 12px auto;
	width: 100%;
}

blockquote,
q {
	quotes: none;
	max-width: 600px;
	margin: 50px auto;
	padding: 1.5rem 1.5rem 3.125rem;
	background: var(--White);
	border-radius: 20px;
	box-shadow: 0 3px 16px 2px rgba(188, 242, 215, 0.5), 0 9px 12px 1px rgba(188, 242, 215, 0.5);

	@media (--tablet) {
		padding: 14px 14px 24px 14px;
	}

	& p {
		font-family: var(--BodyCopy);
		font-style: italic;
		font-size: 16px;
		line-height: 1.8;
		text-align: center;

		@media (--tablet) {
			font-size: 16px;
			line-height: 1.3;
		}

		&:last-child {
			border-top: 4px solid var(--Yellow);
			margin: 1rem auto 0 auto;
			display: table;
			padding: 12px 38px 0 38px;
			font-family: var(--HeadCopy-Light);
			font-style: initial;
			text-align: center;
			line-height: 1.5;

			& span {
				font-family: var(--HeadCopy);
			}
		}
	}
}