.editor-contents .gallery {
	margin: 0 auto 18px;
}

.gallery .gallery-item {
	float: left;
	margin: 0 10px 20px 10px;
	text-align: center;
	width: 30%;
}

.gallery-columns-2 .gallery-item {
	width: 45%;
}

.gallery-columns-4 .gallery-item {
	width: 22%;
}

.gallery img {
	box-shadow: 0px 0px 4px #999;
	border: 1px solid white;
	padding: 8px;
	background: #f2f2f2;
	max-width: 100%;
	height: auto;
}

.gallery img:hover {
	background: white;
}

.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}

.gallery dl,
.gallery dt {
	margin: 0;
}

.gallery br+br {
	display: none;
}