/*-------------------------------------------------------------------
    FOOTER
-------------------------------------------------------------------*/

footer {
	margin-bottom: 38px;
	padding: 50px 10px 150px 10px;
	background-color: var(--Black);
	color: var(--WhiteCopy);
	font-family: var(--HeadCopy-Light);
	font-size: 14px;
	position: relative;
	overflow: hidden;
	@media (--tablet) {
		margin-bottom: 68px;
	}
	@media (--smallphone) {
		padding: 50px 10px;
	}
	&::before {
		content: '';
		position: absolute;
		background: var(--GradientBottomBanner);
		top: 0;
		left: -25%;
		width: 150%;
		height: 6px;
		animation: button_hover 4s linear 0s infinite;
	}
	&>.block {
		max-width: 1024px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		position: relative;
		@media (--laptop) {
			max-width: 800px;
		}
		@media (--phone) {
			max-width: 400px;
		}
		@media (--smallphone) {
			max-width: 300px;
		}
		&>nav.nav-footer {
			width: 100%;
			margin-bottom: 2rem;
		}
		& .left {
			width: 50%;
			@media (--laptop) {
				width: 100%;
				margin-top: 2rem;
				order: 2;
			}

			& a {
				color: #338cff;
			}
		}
		& .middle {
			width: 25%;
			padding: 0 2rem;
			@media (--laptop) {
				width: 50%;
				padding: 0;
			}
			@media (--smallphone) {
				width: 100%;
			}
			& a {
				color: var(--WhiteCopy);
				font-family: var(--BodyCopy-bold);
				display: block;
				margin: 0 0 1rem 0;
				transition: all .25s ease-in-out;
				&:hover,
				&:hover {
					color: var(--Yellow);
					text-decoration: none;
				}
			}
		}
		& .right {
			width: 25%;
			@media (--laptop) {
				width: 50%;
			}
			@media (--smallphone) {
				width: 100%;
			}
			& nav {
				& li {
					display: block;
					width: 100%;
				}
			}
		}
		& nav ul {
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			flex-wrap: wrap;
			font-size: 16px;
			& a:hover {
				color: var(--Yellow);
			}
			li {
				@media (--smallphone) {
					width: 50%;
				}
			}
		}
		& nav.nav-footer {
			& a {
				margin-right: 50px;
				font-family: var(--BodyCopy-bold);
				color: var(--WhiteCopy);
				text-decoration: none;
				transition: all .25s ease-in-out;
				@media (--smallphone) {
					margin-right: 0;
				}
			}
		}
		& nav.nav-coordination a {
			font-family: var(--BodyCopy-bold);
			color: var(--WhiteCopy);
			text-decoration: none;
			width: 100%;
			transition: all .25s ease-in-out;
		}
	}
}