/*-------------------------------------------------------------------
		PAST-EXPERIENCES
-------------------------------------------------------------------*/
.past-container {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	overflow: hidden;
	background-color: var(--White);
	background-image: url(../images/wood-grain.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&::before {
		content: '';
		position: absolute;
		background: var(--GradientBottomBanner);
		top: 0;
		left: -25%;
		width: 150%;
		height: 6px;
		animation: button_hover 4s linear 0s infinite;
		z-index: 3;
	}

	&::after {
		content: '';
		position: absolute;
		background: var(--White);
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: .7;
		z-index: -1;
	}

	& .past-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		z-index: 2;
		padding: 16px 0;

		& p {
			display: inline-block;
			margin: 0 34px 0 0;
			text-align: center;
			font-family: var(--BodyCopy-bold);

			@media (--smallphone) {
				margin: 0 25px 0 0;
			}
		}

		& h4 {
			margin: 0 2em;
			color: var(--Dblue);
			font-family: var(--BodyCopy-bold);
			font-size: 18px;
			line-height: 1;

			@media (--smallphone) {
				font-size: 20px;
			}
		}

		& nav {
			& ul {
				padding: 0;
				margin: 0;
			}

			& .menu-item {
				display: inline-block;
				margin: 0 24px 0 0;

				@media (--smallphone) {
					margin: 0 12px 0 0;
				}

				&:last-child {
					margin: 0;
				}

				& a {
					text-decoration: none;
					font-weight: 700;
					font-size: 18px;
					display: block;
					transition: all .5s ease-in-out 0s;
					font-family: var(--BodyCopy-bold);
					color: var(--Blue);

					&:hover,
					&:focus {
						transform: scale(1.15);
					}

					& svg {
						fill: var(--Orange);
						vertical-align: middle;
						margin-left: 6px;
						margin-top: -4px;
						height: 14px;
					}
				}
			}
		}
	}
}