/*-------------------------------------------------------------------
		THEME INVITE
-------------------------------------------------------------------*/

.theme-invite {
	display: flex;
	flex-wrap: wrap;
	margin: 4rem 0;
	&>.block {
		width: 33.33%;
		padding: 50px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		min-height: 32vh;
		@media (--laptop) {
			width: 100%;
		}
		&:first-child,
		&:nth-child(3) {
			align-items: flex-start;
			justify-content: flex-start;
			background-size: cover;
			background-position: center;
			margin: 0;
			position: relative;
			@media (--tablet) {
				justify-content: center;
				padding: 20px 50px;
			}
			&:hover {
				text-decoration: none;
			}
			&>.block {
				max-width: 462px;
				width: 100%;
				margin: 0 0 0 auto;
				@media (--tablet) {
					margin: 0 auto;
				}
			}
		}
		&:nth-child(2) {
			position: relative;
			background-image: url('../images/wood-grain.jpg');
			background-size: cover;
			background-position: center;
			margin: 0;
			&::after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: var(--Blue);
				opacity: .7;
				z-index: 0;
			}
		}
		@media (--tablet) {
			width: 100%;
		}
		&.event-1,
		&.event-2 {
			& h3 {
				position: absolute;
				top: 0;
				left: 0;
				color: black;
				text-align: center;
				color: var(--WhiteCopy);
			}
			& p {
				position: absolute;
				bottom: 0;
				left: 0;
				font-weight: 700;
				width: 100%;
				text-align: center;
				color: var(--WhiteCopy);
			}
		}
		& h3 {
			width: 100%;
			color: var(--White);
			text-shadow: none;
			margin: 0;
			line-height: 2;
		}
		& .event-details {
			display: flex;
			flex-wrap: wrap;
			font-family: var(--HeadCopy);
			color: var(--WhiteCopy);
			& .address {
				padding: 0 50px 0 0;
				margin-bottom: 20px;
			}
			& svg {
				stroke: var(--White);
				fill: none;
				vertical-align: top;
				margin-right: .75em;
			}
			& span {
				display: inline-block;
				line-height: 1.3;
				color: var(--Yellow);
				& span {
					color: var(--White);
					font-family: var(--HeadCopy-Light);
				}
			}
		}
		& .invite {
			position: relative;
			z-index: 2;
			max-width: 450px;
			color: var(--WhiteCopy);
			& h2,
			& p {
				margin: 0 0 1.5rem 0;
				text-shadow: none;
				& span {
					font-size: 1rem;
					vertical-align: top;
				}
			}
			& .btn {
				background-color: var(--Yellow);
				&::after {
					display: none;
				}
			}
		}
	}
}