/*-------------------------------------------------------------------
    CTA CARD
-------------------------------------------------------------------*/

.cta-card-container {
	max-width: 1024px;
	margin: 50px auto;
	min-height: 300px;
	justify-content: center;
	align-items: center;
	lost-align: center;
	display: flex;
	flex-wrap: wrap;
	@media (--desktop) {
		padding: 0 16px;
	}
}

.cta-card {
	display: flex;
	flex-wrap: wrap;
	margin: 20px 10px;
	min-height: 260px;
	padding: 25px 25px 100px 25px;
	border-radius: 15px;
	border: 1px solid rgba(28, 37, 65, 0.2);
	background-color: #ffffff;
	position: relative;
	text-decoration: none;
	color: var(--BlackCopy);
	transition: all .5s ease-in-out 0s;
	width: calc(25% - 20px);

	@media (--laptop) {
		width: calc(50% - 20px);
	}

	@media (--tablet) {
		width: calc(100% - 20px);
	}

	&:hover,
	&:focus {
		box-shadow: 0 0.1875rem 1rem 0.125rem rgba(188, 242, 215, 0.5), 0 0.5625rem 0.75rem 0.0625rem rgba(188, 242, 215, 0.5);
		text-decoration: none;
		& .btn {
			transform: translate(-50%);
			border-left: 3px solid var(--Yellow);
			border-right: 3px solid var(--Yellow);
			&::after {
				opacity: 1;
				animation: none;
			}
			&>span {
				background: none;
				-webkit-background-clip: text;
				-webkit-text-fill-color: var(--Dblue);
				color: var(--Dblue);
			}
		}
	}
	& img {
		margin: 0 0 25px 0;
		height: 50px;
		width: 50px;
		max-width: 100%;
		display: block;
	}
	& h3 {
		width: 100%;
		margin: 0 0 18px 0;
		font-size: 1.25rem;
		text-shadow: none;
	}
	& p {
		margin: 0;
		width: 100%;
	}
	& .btn {
		position: absolute;
		display: inline-table;
		bottom: 20px;
		min-width: 0;
		margin: 0 auto !important;
		left: 50%;
		transform: translate(-50%);
		transition: all .55s ease-in-out 0s;
	}
}