/*-------------------------------------------------------------------
    AGENDA
-------------------------------------------------------------------*/

.agenda-day {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	max-width: 1024px;
	margin: 100px auto;
	@media (--desktop) {
		padding: 0 1rem;
	}
	& .left {
		width: 33%;
		display: flex;
		justify-content: flex-end;
		@media (--laptop) {
			width: 40%;
		}
		@media (--phone) {
			width: 100%;
			justify-content: flex-start;
		}
		&>.block {
			display: table;
		}
		& .left-month {
			text-transform: uppercase;
			color: var(--Grey);
			font-family: var(--HeadCopy);
			font-size: 90px;
			line-height: 1.5;
			@media (--laptop) {
				line-height: 1.15;
			}
		}
		& .left-date {
			text-transform: uppercase;
			color: var(--Grey);
			font-family: var(--HeadCopy);
			font-size: 210px;
			line-height: .75;
		}
	}
	& .right {
		width: 66%;
		box-shadow: 0 3px 16px 2px rgba(188, 242, 215, 0.5), 0 9px 12px 1px rgba(188, 242, 215, 0.5);
		background-color: var(--White);
		border-radius: 16px;
		padding: 30px 0;
		@media (--laptop) {
			width: 60%;
		}
		@media (--phone) {
			width: 100%;
		}
		&>h2 {
			margin-top: 0;
			padding: 0 30px;
		}
		&>h3 {
			color: var(--Blue);
			padding: 10px 30px;
			margin-bottom: 2rem;
			font-size: 20px;
		}
	}
}

/*-------------------------------------------------------------------
    LABELS
-------------------------------------------------------------------*/

.label {
	background: var(--Gradient);
	border-radius: 3px;
	padding: 4px 20px;
	text-transform: uppercase;
	color: var(--Dblue);
	position: relative;
	display: table;
	font-family: var(--BodyCopy-bold);
	font-size: .75rem;
}