/*-------------------------------------------------------------------
    BIOGRAPHIES
-------------------------------------------------------------------*/

.bio-headshots {
	display: flex;
	& .headshot {
		width: 33.33%;
		position: relative;
		& img {
			width: 100%;
			display: block;
		}
		&:hover .overlay {
			opacity: 0.85;
		}
		& .overlay {
			opacity: 0;
			cursor: pointer;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-image: linear-gradient(140deg, #FD7315 0%, #FFD200 100%);
			text-align: center;
			transition: all .5s ease-in-out 0s;
			& h2 {
				color: var(--WhiteCopy);
				position: absolute;
				bottom: 100px;
				width: 100%;
				@media (--phone) {
					display: none;
				}
			}
			& svg {
				stroke: var(--White);
				fill: none;
				position: absolute;
				bottom: 50px;
				left: 50%;
				margin-left: -25px;
				width: 50px;
				height: 50px;
			}
		}
	}
}

.bio-summary {
	& .editor-contents {
		height: auto;
		max-height: 0;
		overflow: hidden;
		opacity: 0;
		padding: 0;
		transition: all .5s ease-in-out 0s;
	}
	& .editor-contents.active {
		max-height: 800px;
		opacity: 1;
		padding: 50px 0;
	}
}