/*-------------------------------------------------------------------
    CATEGORIES NAVIGATION
-------------------------------------------------------------------*/

nav.cat-list {
	max-width: 1024px;
	width: 95%;
	margin: 50px auto;

	& ul {
		list-style: none;
		margin: 0;
		padding: 0 4px;
		border-bottom: 4px solid var(--Yellow);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		@media (--tablet) {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: auto;
			grid-gap: 16px;
		}

		@media (--phone) {
			grid-template-columns: 1fr 1fr;
		}

		& li {
			margin-bottom: 8px;

			& a {
				text-transform: capitalize;
				color: var(--BlackCopy);
				transition: all .25s ease-in-out;
				font-family: var(--HeadCopy-Light);
				font-size: 14px;
				padding: 4px;
				border-radius: 4px;
				background-color: transparent;
				display: block;
				line-height: 1;

				&::after {
					display: block;
					content: attr(title);
					font-family: var(--HeadCopy);
					height: 0;
					overflow: hidden;
					visibility: hidden;
				}

				&:hover,
				&:focus {
					text-decoration: none;
					cursor: pointer;
					background-color: var(--Dblue);
					color: var(--White);
				}

				&.is-active {
					text-decoration: none;
					cursor: pointer;
					background-color: var(--Blue);
					color: var(--White);
				}
			}
		}
	}
}

/*-------------------------------------------------------------------
    CATEGORY FEED
-------------------------------------------------------------------*/
.blog-categories {
	max-width: 1024px;
	margin: 50px auto;
	flex-wrap: wrap;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 48px;

	@media (--desktop) {
		padding: 0 1rem;
		grid-template-columns: 1fr 1fr;
	}

	@media (--tablet) {
		padding: 0 1rem;
		grid-template-columns: 1fr;
	}

	&>a {
		transition: all .35s ease-in-out 0s;
		border-radius: 15px;

		&:hover,
		&:focus {
			text-decoration: none;
			box-shadow: 0 0.1875rem 1rem 0.125rem rgba(188, 242, 215, .5), 0 0.5625rem 0.75rem 0.0625rem rgba(188, 242, 215, .5);
		}
	}

	& .category {
		width: 100%;
		display: block;
		margin: 0;
		padding: 24px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
		box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.3);

		& h2 {
			font-size: 24px;
			margin: 0 0 8px 0;
		}

		& .btn {
			left: 20px;
			transform: none;
			margin: 0 !important;
			background-color: var(--Yellow);

			&::after {
				display: none;
			}
		}
	}
}

/*-------------------------------------------------------------------
    POST FEED
-------------------------------------------------------------------*/

.blog-grid-contain {
	max-width: 1024px;
	width: 95%;
	margin: 50px auto;
	display: flex;
	flex-wrap: wrap;

	& .post-preview {
		width: 100%;
		display: grid;
		grid-template-columns: 180px 1fr 180px;
		grid-template-rows: auto;
		grid-gap: 8px;
		padding: 12px;
		border-bottom: 2px solid var(--Grey);
		transition: all .15s ease-in-out;

		&:hover,
		&:focus {
			text-decoration: none;
			background: var(--Grey);
		}

		@media (--tablet) {
			display: block;
			padding: 18px 12px;
		}

		& p {
			margin: 0;
			color: var(--Black);
			font-weight: 700;
		}

		& h2 {
			font-size: 16px;
			margin: 3px 0 0 0;
			font-family: var(--HeadCopy-Light);

			@media (--tablet) {
				font-size: 22px;
				margin: 6px 0;
			}
		}

		& .btn {
			display: none;
			min-width: 0;
		}
	}

	&.is-grid {
		position: relative;
		margin-top: 88px;

		& .post-preview:first-child,
		& .post-preview:nth-child(2),
		& .post-preview:nth-child(3),
		& .post-preview:nth-child(4),
		& .post-preview:nth-child(5),
		& .post-preview:nth-child(6) {
			min-height: 260px;
			width: calc(33% - 21.3px);
			margin: 0 32px 32px 0;
			padding: 24px;
			border-radius: 15px;
			border: 1px solid rgba(28, 37, 65, .2);
			background-color: #fff;
			color: var(--BlackCopy);
			transition: all .35s ease-in-out 0s;
			display: flex;
			flex-direction: column;

			@media(--tablet) {
				width: calc(50% - 16px);
			}

			@media(--phone) {
				width: 100%;
				margin: 0 0 32px 0;
			}

			&:hover,
			&:focus {
				box-shadow: 0 0.1875rem 1rem 0.125rem rgba(188, 242, 215, .5), 0 0.5625rem 0.75rem 0.0625rem rgba(188, 242, 215, .5);
				text-decoration: none;
			}

			& h2 {
				font-size: 24px;
				margin-top: 0;
				flex-grow: 1;
				color: var(--Blue);
				margin: 0 0 8px 0;
			}

			& p {
				margin: 0;
			}

			& .btn {
				margin: 48px 0 0 0;
				transform: none;
				display: block;

				&:hover,
				&:focus {
					transform: none;
				}
			}
		}

		& .post-preview {

			&:nth-child(3),
			&:nth-child(6) {
				margin: 0 0 32px 0;
			}

			@media(--tablet) {

				&:nth-child(2),
				&:nth-child(4),
				&:nth-child(6) {
					margin: 0 0 32px 0;
				}

				&:nth-child(3) {
					margin: 0 32px 32px 0;
				}
			}

			@media(--phone) {

				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4),
				&:nth-child(5),
				&:nth-child(6) {
					width: 100%;
					margin: 0 0 32px 0;
				}
			}
		}

		& .post-preview:first-child {
			&::before {
				display: block;
				content: 'Most Recent';
				position: absolute;
				top: -56px;
				left: 0;
				line-height: 1.07;
				font-family: var(--HeadCopy);
				font-size: 38px;
				color: var(--Dblue);

				@media(--smallphone) {
					font-size: 30px;
				}
			}
		}

		& .post-preview:nth-child(7) {
			position: relative;
			margin-top: 64px;

			&::before {
				display: block;
				content: 'Archived Posts';
				position: absolute;
				top: -48px;
				left: 0;
				line-height: 1.07;
				font-family: var(--HeadCopy);
				font-size: 38px;
				color: var(--Dblue);

				@media(--smallphone) {
					font-size: 30px;
				}
			}
		}
	}
}

/*-------------------------------------------------------------------
    PAGINATION
-------------------------------------------------------------------*/
.pagination {
	width: 95%;
	max-width: 1024px;
	margin: 0 auto;

	& h2 {
		display: none;
	}

	& .nav-links {
		display: flex;
		justify-content: center;
		align-items: center;

		& .page-numbers {
			background-color: var(--Dblue);
			padding: 8px 8px;
			border-radius: 6px;
			min-width: 34px;
			text-align: center;
			display: block;
			color: var(--White);
			font-family: var(--HeadCopy);
			margin-right: 8px;

			&.current {
				background-color: var(--Blue);
			}

			&.prev,
			&.next {
				display: none;
			}

			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
	}
}