/*-------------------------------------------------------------------
    DEFAULT CONTENT AREA
-------------------------------------------------------------------*/
.editor-contents {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 0;
  position: relative;
  @media (--desktop) {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
  & > h2:first-child, & > h3:first-child, & > h4:first-child,
	& > a:first-child + h2,& > a:first-child + h3, & > a:first-child + h4 {
    margin-top: 0;
  }
  & h2, & h3, & h4, & h5, & h6 {
    text-shadow: none;
  }
	& h2 {
		background: linear-gradient(135deg, #FD7315 25%, #FFD200 75%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: var(--White);
	}
  & p {
    margin-bottom: 30px;
    line-height: 1.5;
  }
  & ul, & ol {
    margin-bottom: 40px;
  }
	& #gform_wrapper_2 {
		min-height: 1500px;
	}
}