/*-------------------------------------------------------------------
    EDITOR CONTENT WITH BACKGROUND IMAGE
-------------------------------------------------------------------*/

.editor-bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	margin-top: -2rem;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #ddffee;
		opacity: .9;
	}
	& .editor-contents {
		position: relative;
		z-index: 2;
		.btn {
			color: var(--White);
			&:after {
				background: var(--Dblue);
			}
		}
	}
}