/*-------------------------------------------------------------------
    404 - Error
-------------------------------------------------------------------*/

.error-contents {
	min-height: 80vh;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	&>.block {
		transform: scale(1.5);
		@media (--tablet) {
			transform: scale(1);
		}
	}
	& h1 {
		background: linear-gradient(135deg, #FD7315 25%, #FFD200 75%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-shadow: none;
		margin-top: 0;
		margin-bottom: .75em;
		@media (--phone) {
			font-size: 55px;
		}
	}
	& h1+h2 {
		margin-bottom: 3em;
		@media (--phone) {
			font-size: 18px;
		}
	}
	& form {
		max-width: 600px !important;
		& ul {
			margin-bottom: 0
		}
		& li.gfield {
			margin-top: 0 !important;
			&.target>label {
				top: -8px;
			}
		}
		& input {
			width: 100%;
		}
	}
	& p {
		margin-bottom: 0 !important;
		&:last-of-type {
			font-size: .75rem;
			color: var(--GreyCopy);
		}
	}
}