/*-------------------------------------------------------------------
		FAQs
-------------------------------------------------------------------*/
.faq-contents.editor-contents {
	padding: 0;
	position: relative;
	& .anchor {
		position: absolute;
		top: -100px;
	}
	&:first-child .single-faq:first-child > h3 { 
		margin-top: 0; 
	}
}