/*-------------------------------------------------------------------
		HOME TITLE
-------------------------------------------------------------------*/

.home-title.title-page {
	padding: 100px 0;

	& .title-overlay {
		z-index: 1;
		background: var(--GradientBanner);
	}

	& .video-background {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;

		& video {
			height: auto;
			min-height: 100%;
			min-width: 100%;
			width: auto;
		}
	}

	&>.block {
		display: block;

		@media (--phone) {
			padding-top: 120px;
		}

		& h1 {
			margin-bottom: 25px;
			font-size: 46px;

			& span {
				font-size: .8em;
			}
		}

		& h2 {
			color: var(--WhiteCopy);
			margin-top: 0;
			text-shadow: 0 2px 4px rgba(0,0,0,.5);
			font-size: 55px;
		}

		& p {
			color: var(--WhiteCopy);
		}

		& .btn {
			margin-top: 25px;
			margin-bottom: 0;
			border: 2px solid var(--Black);
			padding: 1.15em 1em;

			@media (--phone) {
				width: 100%;
			}

			&.btn--video {
				border: 2px solid var(--Yellow);
			}

			&.white {
				background: transparent;
				border: 2px solid var(--White);

				&::after {
					display: none;
				}

				&:hover,
				&:focus {
					background: var(--Black);
					border-color: var(--Black);
				}
			}
		}

		& .title-video {
			top: 50%;
			border: 0;
			padding: 0;
			width: 100px;

			@media (--laptop) {
				top: -40px;
			}

			@media (--phone) {
				top: 0;
				left: 1rem;
			}

			& svg {
				max-width: 100%;
				width: 100%;
				transition: all .5s ease-in-out 0s;
			}

			&:hover svg,
			&:focus svg {
				transform: scale(1.15);
			}
		}
	}
}

/*-------------------------------------------------------------------
		COUNTDOWN
-------------------------------------------------------------------*/

.conf-countdown {
	background: var(--Black);
	padding: 1rem;

	&>.block {
		max-width: 1024px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		& p {
			color: var(--WhiteCopy);
			font-size: 18px;
			line-height: 24px;
			vertical-align: middle;
			display: inline-block;
		}

		&>p {
			font-family: var(--BodyCopy);

			@media (--laptop) {
				text-align: center;
				width: 100%;
				margin-bottom: 1em;
			}
		}

		& .count-down {
			display: flex;
			flex-wrap: wrap;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;

			@media (--laptop) {
				width: 100%;
				justify-content: center;
			}

			&>.block {
				position: relative;

				@media (--laptop) {
					padding-bottom: 2.25rem;
				}

				@media (--phone) {
					margin-bottom: .5rem;
				}

				& svg {
					vertical-align: middle;
					display: inline-block;
					margin-left: 24px;
					margin-right: 8px;

					&.no-show #graph {
						animation: countdown 3s linear forwards;
					}

					@media (--laptop) {
						margin: 0 1rem;
					}

					@media (--phone) {
						margin: 0 2rem;
					}

					& text {
						fill: var(--WhiteCopy);
						font-family: var(--HeadCopy);
						font-size: 24px;
						line-height: 1;
					}
				}

				& p {
					@media (--laptop) {
						position: absolute;
						bottom: 0;
						left: 50%;
						transform: translateX(-50%);
					}
				}
			}
		}
	}
}

/*-------------------------------------------------------------------
		OPTIONAL CARDS
-------------------------------------------------------------------*/
.optional-cards {
	padding: 75px 0px;
	background-color: #FFA954;

	& h2 {
		text-align: center;
		color: var(--White);
		margin: 0 auto 1em auto;
		max-width: 90%;
	}

	&>div {
		width: 90%;
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	& .card {
		background-color: var(--White);
		border: 1px solid rgba(28, 37, 65, .2);
		border-radius: 15px;
		color: var(--BlackCopy);
		padding: 20px 20px 6rem 20px;
		margin-bottom: 3em;
		position: relative;

		@media (--smallphone) {
			margin-bottom: 1.5em;
		}

		& .btn {
			position: absolute;
			bottom: 20px;
		}

		&.image {
			padding: 0;
			border: none;
			overflow: hidden;

			& img {
				width: 100%;
				display: block;
			}
		}

		&.video {
			background-color: #000;
			padding: 0;
			overflow: hidden;

			& iframe {
				width: 100%;
				height: 100%;
			}
		}

		&>h2:first-child,
		&>h3:first-child,
		&>h4:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}
	}

	&.count-1 .card {
		width: 98%;

		&.video iframe {
			height: 600px;

			@media (--desktop) {
				height: 425px;
			}

			@media (--laptop) {
				height: 350px;
			}

			@media (--smallphone) {
				height: 250px;
			}
		}
	}

	&.count-2 .card {
		width: 48%;

		@media (--tablet) {
			width: 98%;
		}

		&.video iframe {
			height: 350px;

			@media (--smallphone) {
				height: 250px;
			}
		}
	}

	&.count-3 .card {
		width: 31%;

		@media (--tablet) {
			width: 98%;
		}

		&.video iframe {
			height: 250px;
		}
	}

	&.count-4 .card {
		width: 23%;

		@media (--desktop) {
			width: 48%;
		}

		@media (--tablet) {
			width: 98%;
		}

		&.video iframe {
			height: 200px;

			@media (--desktop) {
				height: 250px;
			}
		}
	}
}

/*-------------------------------------------------------------------
		CALL TO ACTIONS
-------------------------------------------------------------------*/

.ctas {
	max-width: 1024px;
	margin: 2rem auto;
	display: flex;
	flex-wrap: wrap;

	@media (--laptop) {
		padding: 0 1rem;
	}

	& > h2 {
		width: 100%;
		text-align: center;
	}
}

.cta {
	width: 31%;
	margin: 0 1% 25px 1%;
	padding-left: 50px;
	padding-bottom: 6rem;
	position: relative;

	@media (--laptop) {
		width: 75vw;
		margin: 0 auto 2rem auto;
		padding-left: 0;
		padding-bottom: 0;
	}

	& img {
		position: absolute;
		top: 1.25rem;
		left: 0;
		width: 40px;

		@media (--laptop) {
			position: initial;
			margin: 0;
		}
	}

	& h2 {
		font-size: 24px;
		color: var(--Blue);

		@media (--laptop) {
			margin: 1rem 0;
		}
	}

	& .btn {
		position: absolute;
		bottom: 0;
		left: 50px;

		@media (--laptop) {
			position: relative;
			left: 0;
			margin-top: 1rem;
		}
	}
}

/*-------------------------------------------------------------------
		MINI GALLERY
-------------------------------------------------------------------*/

.mini-gallery {
	& ul {
		list-style: none;
		display: flex;
		margin: 0;
		padding: 0;

		& li {
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			height: 14.28vw;
			width: 14.28vw;

			@media (--laptop) {
				height: 20vw;
				width: 20vw;
			}

			@media (--phone) {
				height: 33.33vw;
				width: 33.33vw;
			}

			&:nth-child(7),
			&:nth-child(6) {
				@media (--laptop) {
					display: none;
				}
			}

			&:nth-child(5),
			&:nth-child(4) {
				@media (--phone) {
					display: none;
				}
			}
		}
	}
}