/*-------------------------------------------------------------------
	TITLE
-------------------------------------------------------------------*/

.page-template-template-recap .title-page>.block {
	height: 50vh;
	padding-top: 10vh !important;
}

.page-template-template-recap h2.section-title {
	width: 100%;
	text-align: center;
	margin-bottom: 0;
	margin-top: 1.5em;
	&+p {
		text-align: center;
	}
}

.page-template-template-recap hr {
	background: var(--Gradient);
	width: 100%;
	height: 4px;
}

/*-------------------------------------------------------------------
	ANCHOR NAVIGATION
-------------------------------------------------------------------*/

nav.recap-nav {
	max-width: 1024px;
	margin: 2rem auto 0 auto;
	border-bottom: 4px solid var(--Yellow);
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (--desktop) {
		margin: 2rem 1rem 0 1rem;
		padding: 0 1rem;
	}
	@media (--phone) {
		flex-wrap: wrap;
		padding-bottom: 1.5rem;
	}
	& li {
		list-style: none;
		@media (--phone) {
			width: 50%;
			text-align: center;
		}
		& a {
			padding: 10px;
			color: var(--Black);
			font-family: var(--HeadCopy-Light);
			display: block;
			text-decoration: none;
			&:hover,
			&:focus {
				font-family: var(--HeadCopy);
			}
			&::after {
				display: block;
				content: attr(title);
				font-family: var(--HeadCopy);
				height: 0;
				overflow: hidden;
				visibility: hidden;
			}
		}
	}
}

/*-------------------------------------------------------------------
	GALLERY
-------------------------------------------------------------------*/

.page-template-template-recap .gallery {
	margin-top: 0
}

/*-------------------------------------------------------------------
	VENUE
-------------------------------------------------------------------*/

.page-template-template-recap .venue-recap {
	position: relative;
	&>.block {
		max-width: 1024px;
		margin: 5rem auto 8rem auto;
		display: flex;
		flex-wrap: wrap;
		@media (--desktop) {
			padding: 0 1rem;
		}
		& .right {
			width: 50%;
			@media (--laptop) {
				width: 100%;
			}
			&>h3:first-child {
				margin-top: 0;
			}
		}
		& .left {
			width: 50%;
			@media (--laptop) {
				width: 100%;
				margin-bottom: 1rem;
			}
			& h2:first-child {
				margin-top: 0;
				margin-bottom: 1.5em;
				@media (--laptop) {
					margin-bottom: 1em;
				}
			}
			& h3 {
				color: var(--Blue);
			}
		}
	}
	& .image-preview {
		position: relative;
		& .logo {
			position: absolute;
			left: 50%;
			top: -63px;
			margin-left: -63px;
			width: 126px;
			height: 126px;
			border-radius: 50%;
			background-size: 80% auto;
			background-position: center;
			background-repeat: no-repeat;
			background-color: var(--Grey);
		}
		& .image-slide {
			width: 100%;
			height: 50vh;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			@media (--laptop) {
				height: 35vh;
			}
		}
	}
}

/*-------------------------------------------------------------------
	SPEAKERS & PARTNERS
-------------------------------------------------------------------*/

.page-template-template-recap .speakers-container,
.page-template-template-recap .partners-container {
	position: relative;
}

/*-------------------------------------------------------------------
	THANK YOUS
-------------------------------------------------------------------*/

.thank-yous.editor-contents {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	& .odd-column,
	& .even-column {
		width: 50%;
		padding: 0 2rem 0;
		@media (--phone) {
			width: 100%;
			padding: 0;
		}
	}
}