/*-------------------------------------------------------------------
    SEARCH RESULTS
-------------------------------------------------------------------*/

.search-contents {
	& h1 {
		background: linear-gradient(135deg, #FD7315 25%, #FFD200 75%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-shadow: none;
		margin-top: 0;
		margin-bottom: .75em;
		@media (--phone) {
			font-size: 55px;
		}
	}
}

.search-feed {
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
}

/*-------------------------------------------------------------------
    SEARCH PREVIEW
-------------------------------------------------------------------*/

.post-search {
	& h2 {
		margin-top: 0;
	}
	& .btn {
		width: calc(100% - 50px);
	}
}