/*-------------------------------------------------------------------
    SIDEBAR
-------------------------------------------------------------------*/

.sidebar-content-container {
	max-width: 1024px;
	margin: 0 auto;
	padding: 50px 0 0 0;
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	@media (--laptop) {
		padding-left: 10px;
		padding-right: 10px;
	}
	&>.contents {
		width: calc(100% - 360px);
		margin-left: auto;

		@media (--tablet) {
			width: 100%;
			margin-left: 0;
		}
		
		& .editor-contents:first-child {
			padding-top: 0;
		}
	}
	&>aside.sidebar {
		width: 280px;
		box-shadow: 0 3px 16px 2px rgba(188, 242, 215, 0.5), 0 9px 12px 1px rgba(188, 242, 215, 0.5);
		border-radius: 20px;
		background-color: #ffffff;
		padding: 20px;
		margin-bottom: 50px;

		@media (--tablet) {
			display: none;
		}

		&.faq-sidebar {
			@media (--tablet) {
				display: block;
				width: 100%;
				margin-bottom: 50px;
			}
		}
		& nav ul {
			padding: 0;
			margin: 0;
			list-style: none;
			& li {
				padding: 0;
				margin: 0;
				& a {
					color: var(--BlackCopy);
					padding: 6px 0;
					text-decoration: none;
					display: block;
					&:hover,
					&:focus {
						font-weight: 700;
					}
				}
			}
		}
	}
}

/*-----------------------------
    WIDGETS
-----------------------------*/

.widget {
	margin: 0 0 40px 0;
	&:last-child {
		margin-bottom: 0;
	}
	&>h3 {
		padding: 8px 0;
		margin: 0 0 8px 0;
		font-size: 18px;
		color: var(--BlackCopy);
		text-shadow: none;
	}
	&.widget_media_image {
		& img {
			max-width: 100%;
		}
	}
	&.widget_nav_menu {
		& ul {
			list-style: none;
			padding: 0;
			& li a {
				padding: 4px 10px;
				display: block;
				background: var(--Grey);
			}
			& li:nth-child(even) a {
				background: var(--White);
			}
		}
	}
	&.gform_widget {
		background: var(--Grey);
		border-radius: 6px;
		overflow: hidden;
		&>h3 {
			background: var(--Grey);
			color: var(--BlackCopy);
			padding: 8px 10px;
			font-size: 22px;
		}
		& form {
			box-shadow: none;
			border-radius: 0;
			padding: 0 10px;
			background: var(--Grey);
			& input,
			& label {
				color: var(--Yellow);
				border-color: var(--Yellow);
			}
			& button[type=submit] {
				margin: 1rem auto 0 auto !important;
			}
			& li.gfield {
				margin-top: 1rem !important;
				&>label {
					top: 1.75rem;
				}
			}
			& li.gfield.target>label {
				top: -5px;
			}
		}
	}
}