/*-------------------------------------------------------------------
    SINGLE BLOG POST
-------------------------------------------------------------------*/
.single-post {
	& section.post-title {
		width: 95%;
		max-width: 960px;
		margin: 0 auto 50px auto;
		padding-top: 50px;

		& nav.breadcrumbs {
			position: initial;
			background: transparent;
			margin-bottom: 8px;
			opacity: 1;
		}

		& h1 {
			margin: 0;
			text-shadow: none;
			font-size: 40px;
		}
	}

	& section.meta {
		width: 95%;
		max-width: 1200px;
		margin: 50px auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-gap: 16px;

		@media (--phone) {
			grid-template-columns: 1fr;
		}

		&.has-no-image {
			max-width: 960px;
			background-color: var(--Grey);
			padding: 8px 12px;
			margin: -25px auto 50px auto;
		}

		& p {
			margin: 0;
		}

		& .social-share {
			display: flex;
			margin: 0 0 0 auto;
			width: 100%;
			max-width: 300px;
			border: 0;
			justify-content: space-between;
			align-items: center;
			padding: 0;

			@media (--phone) {
				margin: 0;
			}
		}

		& img {
			width: 100%;
			height: auto;
			margin: 0;
			grid-column: span 2;

			@media (--phone) {
				grid-column: span 1;
			}
		}
	}

	& section.editor-contents {
		padding: 0 !important;
		width: 960px;
		max-width: 95%;
		margin-bottom: 200px;
	}
}

/*-------------------------------------------------------------------
    SHARE POST
-------------------------------------------------------------------*/

.share {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 1024px;
	border-bottom: 4px solid var(--Yellow);
	justify-content: space-between;
	padding-bottom: .5rem;

	@media (--desktop) {
		padding: 0 1rem;
	}

	& p {
		display: inline-block;
		font-family: var(--HeadCopy);

		@media (--tablet) {
			display: block;
			width: 100%;
			text-align: center;
		}
	}

	&>.block {
		@media (--tablet) {
			width: 100%;
		}
	}

	& a {
		@media (--tablet) {
			display: block;
			width: 100%;
			max-width: 200px;
			padding: .5rem;
			text-align: center;
			margin: 1rem auto;
			border: 1px solid var(--Yellow);
		}

		& svg {
			fill: var(--Yellow);
			vertical-align: middle;
			margin: 0 2rem 0 .5rem;

			@media (--tablet) {
				display: none;
			}
		}

		&:last-child svg {
			margin-right: 0;
		}
	}
}

/*-------------------------------------------------------------------
    RELATED POSTS
-------------------------------------------------------------------*/

.additional-posts {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 1024px;

	@media (--desktop) {
		padding: 0 1rem;
	}

	& .post-contain {
		width: calc(33% - 20px);

		@media (--laptop) {
			width: calc(50% - 20px);
		}

		@media (--tablet) {
			width: calc(100% - 20px);
		}
	}
}