/*-------------------------------------------------------------------
    FORCE LOST GRID TO USE FLEX OVER FLOAT
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
    CSSNEXT VARIABLES
-------------------------------------------------------------------*/

:root {
	--White: #FFFFFF;
	--Grey: #D9DFF1;
	--Black: #1c2541;
	--Dblue: #131C2D;
	--Blue: #3E60BD;
	--BlueLight: #35A7FF;
	--LightGreen: #BCF2D7;
	--Orange: #FD7315;
	--Yellow: #FFD200;
	--DOrange: #BE4D00;
	--WhiteCopy: #FFFFFF;
	--GreyCopy: #ACAFB9;
	--BlackCopy: #000000;
	--Gradient: linear-gradient(to right, #FD7315 -50%, #FFD200 50%);
	--GradientBackwards: linear-gradient(to bottom, rgba(19, 28, 45, 1) 0%, rgba(62, 96, 189, 1) 50%, rgba(188, 242, 215, 1) 100%);
	--GradientText: -webkit-linear-gradient(to right, #FD7315 -50%, #FFD200 50%);
	--GradientBanner: linear-gradient(to bottom, rgba(19, 28, 45, 0.8) 0%, rgba(19, 28, 45, 0.8) 20%, rgba(62, 96, 189, 0.8) 40%, rgba(188, 242, 215, 0.8) 75%, rgba(255, 208, 0, 0.8) 100%);
	--GradientBottomBanner: linear-gradient(to right, rgba(19, 28, 45, 1) 0%, rgba(19, 28, 45, 1) 20%, rgba(62, 96, 189, 1) 40%, rgba(188, 242, 215, 1) 75%, rgba(255, 208, 0, 1) 100%);
	--HeadCopy: 'Montserrat-Bold', sans-serif;
	--HeadCopy-Light: 'Montserrat-Light', sans-serif;
	--BodyCopy-bold: 'Lato-Bold', sans-serif;
	--BodyCopy: 'Lato-Light', sans-serif;
}

/*-------------------------------------------------------------------
    Media Queries
-------------------------------------------------------------------*/
@custom-media --smallphone (max-width: 515px);
@custom-media --phone (max-width: 640px);
@custom-media --tablet (max-width: 768px);
@custom-media --laptop (max-width: 1024px);
@custom-media --desktop (max-width: 1200px);
@custom-media --largedesktop (max-width: 1400px);

/*-------------------------------------------------------------------
    ANIMATIONS
-------------------------------------------------------------------*/

@keyframes countdown {
	0% {
		stroke-dashoffset: 220;
		opacity: 0%;
	}

	50% {
		opacity: 1;
	}
}

@keyframes fadeInScale {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}

.animated.infinite {
	animation-iteration-count: infinite;
}

.fadeInScale {
	animation-name: fadeInScale;
}

.fadeIn {
	animation-name: fadeIn;
}

/*-------------------------------------------------------------------
    UNVERSAL BOX-SIZING
-------------------------------------------------------------------*/

html {
	box-sizing: border-box;
	font-weight: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.wrap.container {
	margin-top: 74px;

	@media (--laptop) {
		margin-top: 60px;
	}

	@media (--tablet) {
		margin-top: 67px;
	}
}

/*-------------------------------------------------------------------
    ANCHOR POINTS
-------------------------------------------------------------------*/

.anchor {
	display: block;
	position: absolute;
	top: -200px !important;
	left: 0 !important;
}

/*-------------------------------------------------------------------
    SLICK SLIDER OVERRIDE
-------------------------------------------------------------------*/

.slick-slide,
.slick-slide * {
	outline: none;
}

/*-------------------------------------------------------------------
    IFRAME STYLES
-------------------------------------------------------------------*/

iframe {
	margin: 0 auto;
	display: flex;
	max-width: 100%;
}

.full-size {
	min-height: 720px;
}