/*-------------------------------------------------------------------
    CONFERENCE DAYS CONTAINER
-------------------------------------------------------------------*/
.day-post-container {

}

/*-------------------------------------------------------------------
    CONFERENCE DAYS
-------------------------------------------------------------------*/
.day-preview {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 5%;
	&.dark {
		background-color: var(--Grey);
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	& > .block:first-child {
		width: 40%;
		@media (--laptop) {
			width: 100%;
		}
		& p {
			font-family: var(--HeadCopy);
			margin-top: 0;
			@media (--laptop) {
				display: inline-block;
			}
		}
		& .label {
			@media (--laptop) {
				display: inline-block;
				margin-left: 1rem;
			}
		}
	}
	& > .block:last-child {
		width: 60%;
		@media (--laptop) {
			width: 100%;
			margin-top: .25rem;
		}
		& h4 { 
			margin-top: 0;
			margin-bottom: .5rem;
		}
		& p {
			font-family: var(--BodyCopy);
		}
	}
}