/*-------------------------------------------------------------------
    NO POSTS FOUND
-------------------------------------------------------------------*/

.no-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
	width: 750px;
	max-width: 90vw;
	margin: 0 auto;
	padding: 100px 0;
	& svg {
		position: absolute;
		width: 150px;
		height: 150px;
		left: 0;
		top: 50%;
		margin-top: -75px;
		@media (--phone) {
			position: relative;
			left: 0;
			top: 0;
			width: 75px;
			height: 75px;
			margin-bottom: 1rem;
		}
	}
	& h2 {
		background: linear-gradient(135deg, #FD7315 25%, #FFD200 75%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: var(--White);
		text-shadow: none;
		width: 100%;
		font-size: 55px;
		line-height: 1.1;
		margin-top: 0;
		@media (--phone) {
			font-size: 40px;
			margin-bottom: 1.15em;
		}
	}
	& h3 {
		width: 100%;
		font-size: 18px;
		font-family: var(--HeadCopy-Light);
		padding: 0 1rem;
	}
}

.headline-block {
	max-width: 1024px;
	margin: 0 auto;
	@media (--desktop) {
		padding: 0 1rem;
	}
	& h2,
	& h3 {
		margin: 0 0 -25px 0;
	}
}