/*-------------------------------------------------------------------
    PARTNERS CONTAINER
-------------------------------------------------------------------*/
.partners-container {
	max-width: 1024px;
	margin: 50px auto;
	display: flex;
	flex-wrap: wrap;
	@media (--desktop) {
		padding: 0 1rem;
	}
}

/*-------------------------------------------------------------------
    PARTNERS
-------------------------------------------------------------------*/
.post-partner.post-preview {
	position: relative;
	display: inline-block;
	padding: 1rem 2rem 5rem 2rem;
	&.active {
		z-index: 10000;
	}
	& .partner-logo {
		width: 100%;
		height: 125px;
		display: flex;
		justify-content: center;
		align-items: center;
		& img {
			width: auto;
			max-width: 174px;
			max-height: 85px;
			height: auto;
			margin: 0;
			@media (--phone) {
				max-height: 150px;
			}
		}
	}
	& p {
		text-align: center;
	}
	& p.partner-contact {
		font-family: var(--BodyCopy-bold);
		text-align: center;
		margin: 1em 0;
	}
	& .partner-video {
		position: absolute;
		left: 50%;
		margin-left: -37px; 
		bottom: 1.5rem;
		cursor: pointer;
		min-height: 35px;
		& svg {
			width: 75px;
			& path {
				transition: all .5s ease-in-out 0s;
			}
			&:hover path#play {
				stroke: var(--White);
				fill: var(--White);
			}
			&:hover path#left, &:hover path#right {
				fill: var(--Yellow);
			}
		}
	}
}

/*-------------------------------------------------------------------
    VIDEO LIGHTBOX
-------------------------------------------------------------------*/
.lightbox, .title-lightbox {
	position: fixed;
	z-index: 10000;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.65);
	overflow: hidden;
	opacity: 0;
	transform: scale(0.01);
	transition: all .35s ease-in-out 0s;
	& .contents {
		width: 80vh;
		height: 80vh;
		max-width: 900px;
		max-height: 475px;
		& iframe, & p {
			width: 100% !important;
			height: 100% !important;
			transform: scale(0.01);
			transition: all .35s ease-in-out .2s;
		}
	}
	&.active {
		opacity: 1;
		transform: scale(1);
		& .contents p, & .contents iframe {
			transform: scale(1);
		}
	}
}