/*-------------------------------------------------------------------
    BLOG POSTS
-------------------------------------------------------------------*/
.post-contain.post-preview {
	padding-bottm: 125px;
	& a:hover { 
		text-decoration: none;
	}
	& .category {
		color: var(--WhiteCopy);
		background: var(--Black);
		border-radius: 6px;
		padding: .25rem 1.5rem;
		display: table;
	}
	& h2 {
		color: var(--BlackCopy);
		min-height: 100px;
		font-size: 24px;
	}
	& p {
		color: var(--BlackCopy);
	}
	& .btn {
		width: calc(100% - 50px);
		border: none;
		display: block;
	}
	&:hover .btn::after {
		animation: button_hover 4s linear 0s infinite;
	}
}