/*-------------------------------------------------------------------
    SPEAKERS CONTAINER
-------------------------------------------------------------------*/

.speakers-container {
	max-width: 1024px;
	margin: 50px auto;
	display: flex;
	flex-wrap: wrap;

	@media (--desktop) {
		padding: 0 1rem;
	}
}

/*-------------------------------------------------------------------
    SPEAKERS
-------------------------------------------------------------------*/

.post-speaker.post-preview {
	padding: 0 0 5rem 0;
	position: relative;
	display: inline-block;
	overflow: visible;

	&.active {
		z-index: 10000;
	}

	& .speaker-headshot {
		width: 100%;
		height: 175px;
		display: block;
		background-size: cover;
		background-position: center;
		position: relative;
		border-top-right-radius: .9375rem;
		border-top-left-radius: .9375rem;
		overflow: hidden;

		@media (--laptop) {
			height: 350px;
		}

		@media (--smallphone) {
			height: 250px;
		}

		& .overlay {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: var(--GradientBackwards);
			opacity: .65;
			transition: all .25s ease-in-out;
		}
	}

	&:hover .speaker-headshot .overlay {
		opacity: 0;
	}

	& a {
		width: 100%;
		text-align: center;

		& h2 {
			font-family: var(--BodyCopy-bold);
			color: var(--Black);
			text-shadow: none;
			font-size: 1.25rem;
			text-align: center;
			width: 100%;
			margin-bottom: .5em;
		}

		& h3 {
			font-size: 16px;
			font-family: var(--BodyCopy-bold);
			color: var(--Blue);
		}
	}

	& p {
		padding: 0 1rem;
		text-align: center;
	}

	& .speaker-contact {
		margin: 1rem 0;
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		position: absolute;
		bottom: 0;
		justify-content: center;

		& .social-link {
			width: 33%;
			margin: 0;
			cursor: pointer;

			& svg {
				height: 1.25rem;

				@media (--phone) {
					height: 1.75rem;
				}
			}
		}

		& svg.speaker-video {
			transition: all .25s ease-in-out;
			transform: none;
			height: 1.4rem;

			&:hover path#play {
				stroke: var(--White);
				fill: var(--White);
			}

			&:hover path#left,
			&:hover path#right {
				fill: var(--Yellow);
			}
		}
	}
}