/*-------------------------------------------------------------------
    VENUE
-------------------------------------------------------------------*/

.post-venue {
	max-width: 1024px;
	margin: 0 auto;
	text-align: center;
	&.last-venue img.logo {
		margin: 0 0 2rem 0;
		padding: 2.5rem 2rem 2rem 2.5rem;
	}
	& img.icon {
		display: block;
		margin: 2rem auto 1rem auto;
		border-radius: 50%;
		width: 100px;
		height: 100px;
	}
	& img.logo {
		display: block;
		margin: 0 auto 2rem auto;
		max-width: 300px;
		border-bottom: 4px solid var(--Yellow);
		padding: .5rem 2rem 1.5rem 2rem;
	}
	&>p {
		max-width: 750px;
		margin-left: auto;
		margin-right: auto;
		@media (--phone) {
			padding: 0 1rem;
			text-align: left;
		}
	}
	&>.block {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 3rem auto 2rem auto;
		&>.block {
			width: 275px;
			padding: 0 25px;
			text-align: left;
			@media (--phone) {
				width: 100%;
				margin-bottom: 2rem;
			}
			&:first-child {
				& a svg {
					fill: var(--Yellow);
					vertical-align: middle;
					margin-left: .25rem;
				}
				@media (--laptop) {
					width: 100%;
					text-align: center;
					margin-bottom: 2rem;
				}
				@media (--phone) {
					text-align: left;
				}
			}
			& h2 {
				margin: 0 0 .75em 0;
			}
			& a {
				font-family: var(--HeadCopy);
			}
		}
	}
}

.city-info {
	max-width: 1024px;
	margin: 2rem auto;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	@media (--laptop) {
		justify-content: center;
	}
	& .cta-card {
		flex-basis: 37%;
		max-width: 37%;
		width: 37%;
		margin: 0 1% 1rem 1%;
		min-height: 0;
		padding: 25px;
		@media (--laptop) {
			flex-basis: 48%;
			max-width: 48%;
			width: 48%;
			min-height: 200px;
		}
		@media (--phone) {
			flex-basis: 100%;
			max-width: 100%;
			width: 100%;
		}
		&:last-child {
			flex-basis: 20%;
			max-width: 20%;
			width: 20%;
			text-align: center;
			@media (--laptop) {
				flex-basis: 25%;
				max-width: 25%;
				width: 25%;
			}
			@media (--phone) {
				flex-basis: 100%;
				max-width: 100%;
				width: 100%;
			}
		}
		& h3 {
			font-size: 1.5rem;
		}
		& .btn {
			display: block;
			width: calc(100% - 40px);
		}
		& svg {
			margin: 0 auto 1rem auto;
		}
	}
}